header nav
{
    display:flex;
    background-color: black ;
    justify-content: space-around;
    height:100px;
    padding-top:30px;
}
header img
{
    width:130px;
    height:100px;
    border:solid 1px black;
    float:left;
}
header nav a{
    text-decoration:none;
    color:white;
}
section{
    background-color: turquoise;
    margin:10px;
    padding:10px;
}
section .bg img{
    width:100%;
    height:150px;
}
section .bg
{
    background-color: white;
    margin:20px;
    padding:10px;
}

section .prix,.km
{
    background-color: #5b5bbd;
    color:white;
    width:100px;
    height:30px;
    float:left;
    text-align:center;
}
section .km
{
    margin-left:45px;
}
section .disc
{
    padding:10px;
    
}
section .image
{
    background-color: white;
    margin:40px 20px 20px 20px;
    padding:10px;
    text-align:center;
    padding-bottom:75px;
}
.offer:first-child
{
    background-color: black;
    color:white;
    height:40px;
    width:86%;
    margin:20px;
    padding-top:5px;
    justify-content: center;
}
footer{
    background-color: black;
}

footer iframe{
    width:100%;
    height:150px;
    
}
footer .mention
{
    width:200px;
    height:80px;
    background-color: white;
    margin:20px;
}
footer img{
    width:30px;
    height:auto;
    border-radius:50%;
}
footer .image{
    padding-left:12%;;
}
footer .mention a{
    text-decoration:none;
    color:black;
    align-content: center;
}


